<!DOCTYPE html>
<html>
<head>
  <title>Welcome to LaunchOverflow</title>
</head>
<body>
<%=link_to "Sign out", destroy_user_session_path, method: "DELETE"%> <br> 

 <div id="map_canvas" style="height:768px;width:1024px;"></div>
</body>
</html>
