<!DOCTYPE html>
<html>
<head>
  <title>Enter your information</title>
</head>
<body>
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <li>Name <%= f.text_field :username %></li><br>
  
  <li>Category <%= f.text_field :email %></li><br>


  <%= f.submit "Create" %>
<% end %>

</body>
</html>
