<!DOCTYPE html>
<html>
<head>
  <title>Welcome to LaunchOverflow</title>
</head>
<body>
<%=link_to "Sign out", destroy_user_session_path, method: "DELETE"%> <br> 
You will be rescued, have faith !<br><br>
	<p><%=@location%></p>

</body>
</html>
