<!DOCTYPE html>
<html>
<head>
  <title>Welcome to LaunchOverflow</title>
</head>
<body>
You will be rescued, have faith !<br><br>
	<%@answers.each do|ans|%>
	  <br>
	    <%= link_to "Ans", answer_path(ans) %>
	    <%=ans.id%><br>
		
		Description : <%=ans.description%><br>
    <%end%>

</body>
</html>
