<!DOCTYPE html>
<html>
<head>
  <title>Enter your question</title>
</head>
<body>
<%= form_for @location, action: "update", html: {class: "nifty_form"} do |f| %>
 <% if @location.errors.any? %>
          <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
  <li>Title <%= f.text_field :address %></li><br>



  <%= f.submit "Update" %>
<% end %>

</body>
</html>
