<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All locations</title>
</head>

  
<body>
  <section class="signin">
       <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <div class="button-group">  
               <% if user_signed_in? != false %>
                  <li class="secondary small button"><%= current_user.email%></li>  

                  <li class="secondary small button"><%= link_to "Sign out", destroy_user_session_path, method: "DELETE"%></li> 
                <%end%>
              </div> 
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns blue-box">
           
            <h3>Choose your location</h3>
             <%@locations.each do|loc|%>
                   
                    <li><%= link_to ">>", location_path(loc.id) %>
                     
                 
                  <%=loc.address%></li>
                   
                    
              <%end%>
          
          </div>
        </div>
      </section>

     

</body>
</html>
