<!DOCTYPE html>
<html>
<head>
  <title>Play</title>
</head>
<body>
	
 

        <div class="row">
          <div class="large-12 columns blue-box">
           
            <h3>Choose your hunt</h3>
              <%@hunts.each do|hunt|%>
                <li><%= link_to ">>", hunt_quiz_path(hunt, hunt.quizzes.first) %>
                <%=hunt.name%></li>
                <li><%=link_to "Edit", edit_location_hunt_path(@location, hunt), :class => "editdelete"%></li>

                <li><%=link_to "Delete", location_hunt_path(@location, hunt), method:"delete", :class => "editdelete"%>
                </li>
              <%end%>
          
          </div>
        </div>
     

</body>
</html>