<!DOCTYPE html>
<html>
<head>
  <title>Play</title>
</head>
<body>
	
  <section class="signin">
       <div class="row">
          <div class="large-12 columns">
            <div class="main-wrapper">
              <div class="button-group">  
               <% if user_signed_in? != false %>
                  <li class="secondary small button"><%= current_user.email%></li>  

                  <li class="secondary small button"><%= link_to "Sign out", destroy_user_session_path, method: "DELETE"%></li> 
                <%end%>
              </div> 
            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns blue-box">
           
            <h3>Choose your hunt</h3>
              <%@hunts.each do|hunt|%>
                <li><%= link_to ">>", hunt_quiz_path(hunt, hunt.quizzes.first) %></li>
                <li><%=hunt.name%></li>
              <%end%>
          
          </div>
        </div>
      </section>

</body>
</html>